*{
  margin: 0;
  padding:0:

}
body {
  background-color: white;
}
.wrapper{
  width: 1000px;
  height: auto;
  margin: auto;
  background-color: black;
}

nav{
  width:100%;
  height:200px;
  background-color: pink;
}
.bannerIcon{
  width: 100px;
  float:left;
  padding-left: 20px;
  padding-top: 15px;
  padding-right: 0px;
}
ul {
text-align: left;
}
ul li{
list-style: none;
display: inline-block;
line-height: 200px
}
ul li a{
padding-left: 20px;
text-decoration: none;
font-size: 40px;
display: block;
color:black;
font-family: 'Major Mono Display', monospace;

}
.text{
  margin-left: 20px;
  width: 100%;
  float:left;
}
.pageTitles {
  color: white;
}
.parargraph {
  color: white;
  text-align: left;
  font-size: 30px;
  line-height: 26px;
  font-family: 'Major Mono Display', monospace;
}
.crest{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 450px;
}
.bottom{
  height: 100px;
  background-color: pink;
}
.bottom h2{
  font-family: sans-serif;
  font-size: 35px;
  text-align: center;
  line-height: 100px;
}
/* team page formating*/
.playerList{
  text-align: center;

}
.playerList li{
  font-size: 30px;
  text-align: center;
  color:white;
  display: list-item;
  line-height: 40px;
}
.playerImages{
  display: block;
  width: 500px;
  margin-left: auto;
  margin-right: auto;

}
